.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header-buttons-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  padding: 10px;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  border-width: 1pt;
  border-color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  font-size: 15px;
}

.export-button {
  background-color: #8a2be2;
  color: #ffffff;
}

.invert-icon-color {
  filter: invert(1);
}

.search-div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.search-bar,
.search-bar:focus {
  flex-grow: 1;
  font-size: 15px;
  padding: 9px;
  border-radius: 7px;
  border-width: thin;
  border-color: beige;
  outline: none;
}
.count-stats {
  margin-top: 10px;
  font-size: medium;
  color: #808080;
}

.lead-table {
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  border-radius: 10px;
  margin-top: 10px;
  border-collapse: collapse;
}

.lead-table-headers {
  color: grey;
  font-weight: normal;
}

.lead-table-rows {
  border-bottom: 1px solid #eee;
}

.name {
  font-size: 16px;
  font-weight: normal;
}

.stage-bar {
  width: 8px;
  height: 30px;
  border-radius: 10px;
}

.engaged {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 14px;
  /* display: inline-block; */
}

.action-dots {
  cursor: pointer;
  font-size: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.page-item {
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.active {
  background-color: #8a2be2;
  color: white;
  font-weight: bold;
}

.page-nav-item {
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 6px;
  height: 100%;
}

.page-nav-item-disabled {
  cursor: default;
}

.break-nav-item {
  border: 0;
}
