.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.HeaderButtonsGroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Button {
  padding: 10px;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  border-width: 1pt;
  border-color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  font-size: 15px;
}

.ExportButton {
  background-color: blueviolet;
  color: #ffffff;
}

.InvertIconColor {
  filter: invert(1);
}

.SearchDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.SearchBar,
.SearchBar:focus {
  flex-grow: 1;
  font-size: 15px;
  padding: 9px;
  border-radius: 7px;
  border-width: thin;
  border-color: beige;
  outline: none;
}

.CountStats {
  margin-top: 10px;
}

.LeadTable {
  width: 100%;
  background-color: #ffffff;
  text-align: left;
  border-radius: 10px;
  margin-top: 10px;
  border-collapse: collapse;
}

.LeadTableHeaders {
  color: grey;
  font-weight: normal;
}

.LeadTableRows {
  border-bottom: 1px solid #eee;
}

.Name {
  font-size: 16px;
  font-weight: normal;
}

.StageBar {
  width: 8px;
  height: 30px;
  border-radius: 10px;
}

.Engaged {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 14px;
  /* display: inline-block; */
}

.ActionDots {
  cursor: pointer;
  font-size: 20px;
}
